extends layout

block head
  script(src='/js/facebook/like_share.js')
  
  
block content
  include headers/facebook
  
  div.fb-like(data-href='https://www.facebook.com/pages/Letz/1374995912786043', data-layout='button_count', data-action='like', data-show-faces='true', data-share='true')