// // ABOUT //
section#about.page
  div.body
    ul.description
      li
        h1 What To Expect
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed
          a(href='javascript:void(0)') venenatis
          | nulla, sit amet lacinia tellus. Mauris id nibh justo. Pellentesque sollicitudin eget mauris eu gravida. Nullam vel ornare eros.
        p
          | Nullam eu risus viverra, porta nisi non, tristique ligula. Praesent sit amet magna est. Nulla dapibus vitae dui sit amet fermentum.
          a(href='javascript:void(0)') Vestibulum
          | tempor lectus vel viverra rutrum. Quisque vitae rutrum metus. Morbi sit amet magna eros. Nullam accumsan consectetur eleifend.
      li
        h1 What's Included
        p
          | Nulla dapibus tincidunt volutpat. Suspendisse vestibulum dolor metus, in convallis urna rutrum id. Aenean
          a(href='javascript:void(0)') malesuada
          | , lacus quis porttitor sollicitudin, nisi velit placerat turpis, a molestie urna sapien eu ipsum.
        p
          | Pellentesque ac pretium dolor. Praesent porta justo quam, dapibus cursus lorem laoreet nec. Praesent faucibus neque quis mollis
          a(href='javascript:void(0)') gravida
          | . In et diam quis lorem pulvinar dignissim. Morbi sed venenatis nulla, sit amet lacinia tellus.
// // END ABOUT //
