// // ABOUT //
section#about.page
  div.body
    ul.description
      li
        h1 What To Expect
        p
          | Letz is bringing you a new way to meet cool people close to you. 
          | Whenever you want to, and doing the things you love. 
      iframe(width='560', height='315', src='//www.youtube.com/embed/yRh-XYEPLE4', frameborder='0', allowfullscreen='true')
    
//END ABOUT //
