// // ABOUT //
section#about.page
  div.body
    ul.description
      li
        h1 What To Expect
        p
          | Letz is bringing you a new way to meet cool people close to you. 
          | Whenever you want to, and doing the things you love. 
      iframe(width='560', height='315', src='//www.youtube.com/embed/yRh-XYEPLE4', frameborder='0', allowfullscreen='true')
      br
      div.fb-like(data-href='https://www.facebook.com/pages/Letz/1374995912786043', data-layout='button_count', data-action='like', data-show-faces='true', data-share='true')
      
    
//END ABOUT //
