section#last-section.page.fullwidth
  header
    nav
      ul
        li
          a.btn.no-color(href='#', data-page='subscribe') Newsletter
        li
          a.btn.no-color(href='#', data-page='feedback') Feedback
        li
          a.btn.no-color(href='#', data-page='contacts') Contacts
    div.triangle
