section#last-section.page.fullwidth
  header
    nav
      ul
        li
          a.btn.no-color(href='#', data-page='register') Register
        li
          a.btn.no-color(href='#', data-page='contacts') Contact
    div.triangle
