// // SERVICES //
section#services.page
  div.body
    ul
      li
        div.icon
          span.fa.fa-html5
        h2 HTML5
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed venenatis nulla sit.
      li
        div.icon
          span.fa.fa-magic
        h2 Feel magic
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed venenatis nulla sit.
      li
        div.icon
          span.fa.fa-code
        h2 Clear code
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed venenatis nulla sit.
      li#demo-love
        div.icon
          span.fa.fa-heart
        h2 Love you
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed venenatis nulla sit.
// // END SERVICES //
