section#social.page.image(style='background-image: url(/images/slider/market.jpg)', data-stellar-background-ratio='0.5')
  .wrapper.align-center.pattern.color-layout(data-color='rgba(38, 38, 38, 0.8)')
    span
      div
        h2
          a.fa.fa-twitter(href='#')
      div
        h2
          a.fa.fa-facebook(href='#')
    br
    //ul.twitter(data-username='TheVersalStudio', data-count='5')
// // END SOCIAL //
