section#team.page
  header
    h1 Meet our team
    hr
    h5 Awesome guys
  .body
    ul.persons
      li
        .photo
          img(src='http://placehold.it/350x250', alt='')
        .networks
          ul.social
            li
              a.fa.fa-facebook-square(href='#')
            li
              a.fa.fa-linkedin-square(href='#')
            li
              a.fa.fa-twitter-square(href='#')
        .about
          h2 Name
          h5 Position
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed venenatis nulla, sit amet lacinia tellus. Mauris id nibh justo. Pellentesque sollicitudin eget mauris eu gravida. Nullam vel ornare eros.
      li
        .photo
          img(src='http://placehold.it/350x250', alt='')
        .networks
          ul.social
            li
              a.fa.fa-adn(href='#')
            li
              a.fa.fa-dribbble(href='#')
            li
              a.fa.fa-pinterest(href='#')
        .about
          h2 Name
          h5 Position
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed venenatis nulla, sit amet lacinia tellus. Mauris id nibh justo. Pellentesque sollicitudin eget mauris eu gravida. Nullam vel ornare eros.
      li
        .photo
          img(src='http://placehold.it/350x250', alt='')
        .networks
          ul.social
            li
              a.fa.fa-flickr(href='#')
            li
              a.fa.fa-instagram(href='#')
            li
              a.fa.fa-google-plus-square(href='#')
        .about
          h2 Name
          h5 Position
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed venenatis nulla, sit amet lacinia tellus. Mauris id nibh justo. Pellentesque sollicitudin eget mauris eu gravida. Nullam vel ornare eros.
//END TEAM //
