header
    nav.wrapper.align-center
        ul
          li
            a.current(href='#home') Home
          li
            a(href='#about') About
         //li
            //a(href='#team') Our team
          //li
            //a(href='#social') Social
          //li
            //a(href='#last-section') Subscribe