section#contacts.page.image
  .wrapper.align-center
    .text
      h2 Contact Us
      hr
      p
        | Design Warehouse Building, floor 15,
        br
        | St. Petersburg, Russia
      p
        | Just call us:
        br
        | +1 410-214-7948
        br
        | +7 651-778-0636
      hr
      ul.social.icons.align-center
        li
          a.icon-twitter(href='#')
        li
          a.icon-facebook(href='#')
        li
          a.icon-linkedin(href='#')
        li
          a.icon-envato(href='#')
    #map(data-latitude='59.932643', data-longitude='30.315318')
      .marksys(data-latitude='59.931436', data-longitude='30.327972', data-title='Our office')
        .align-center(style='padding:5px;color:#000') Our office!
      .marksys(data-latitude='59.932134', data-longitude='30.32112', data-title='Our office')
        .align-center(style='padding:5px;color:#000') Good food here
// // END CONTACTS //
