section#contacts.page.image
  .wrapper.align-center
    .text
      h2 Contact Us
      hr
      p
        | San Francisco, California
      p
        | Just email us:
        br
        | contact@letz.us
      hr
      ul.social.icons.align-center
        li
          a.icon-twitter(href='https://twitter.com/LetzSf', target='_blank')
        li
          a.icon-facebook(href='https://www.facebook.com/pages/Letz/1374995912786043?ref=hl', target='_blank')
        li
          a.icon-linkedin(href='https://www.linkedin.com/pub/jorge-pac-yurrita/10/3bb/3a7', target='_blank')
    div#map
      img(src='/images/slider/union.jpg')
    //#map(data-latitude='37.775464', data-longitude='-122.419136')
      //.marksys(data-latitude='37.775464', data-longitude='-122.419136', data-title='Our office')
        //.align-center(style='padding:5px;color:#000') Our office!
      //.marksys(data-latitude='37.775464', data-longitude='-122.419136', data-title='Our office')
        //.align-center(style='padding:5px;color:#000') Good food here




