section#register.page.image
  .wrapper.align-center.pattern.color-layout(data-color='rgba(38, 38, 38, 0.9)')
    h4
      |Register
      br
      |Learn first when we launch
    
    
    //Register form
    form.flat(action='/register', method='post')
      input(class='form-control', type='email', name='email', id='email_input', placeholder='Your email address' , required=true)
      input.btn(type='submit', value='Subscribe')
    div#register-success.alert.alert-success Success!
    div#register-duplicate.alert.alert-info Address already registered
    div#register-danger.alert.alert-danger Error! Please try again later
          
          
    //form.flat(action='/register', method='post')
      //input(type='email', name='email', value='', placeholder='Your email address')
      //input.btn(type='submit', value='Subscribe')
      //span.status(data-success='You was successfuly subscribed', data-error='Something goes wrong')
      
      
      
    hr(style='width: 110px')
    h4 we don't spam because we're nice
// // END SUBSCRIBE //
