//Start jquery scripts
div#jquery-scripts
  //-GOOGLE MAPS // 
  script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
  script(src='/js/gmap.js')
  //-Jquery
  script(src='/js/jquery/jquery.queryloader2.js')
  script(src='/js/jquery/jquery.fotorama.js')
  script(src='/js/jquery/jquery.stellar.js')
  script(src='/js/jquery/jquery.transit.js')
  script(src='/js/jquery/jquery.easings.js')
  script(src='/js/jquery/jquery.tweet-linkify.js')
  script(src='/js/jquery/jquery.scrollStopped.js')
  script(src='/js/jquery/jquery.placeholder.js')
  script(src='/js/jquery/jquery.countdown.sys.js')
  script(src='/js/jquery/jquery.countdown.js')
  script(src='/js/jquery/jquery.okvideo.js')
  //-MAIN SCRIPTS
  script(src='/js/countdown.js?1')
  script(src='/js/twitter.js')
  script(src='/js/main.js')
//End jquery scripts








  